<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/meta') %>    
</head>

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <!-- Desactivar la detección automática de números de teléfono -->
    <!-- <meta name="format-detection" content="telephone=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>    
     
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/x-icon" href="favicon.ico">    
            
    <link rel="stylesheet" href="/css/style.css">

    <title>El Aromo - Vecinos</title>
</head> -->

<body>
    
<header>
    <%- include('./partials/navbar') %>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="navbar El Aromo">
        <div class="container">
            <img class="nav-logo" src="img/logo.jpg" alt="Barrio El Aromo">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsAromo" aria-controls="navbarsAromo" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsAromo">                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mantenimiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Salud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clasificados</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
 
     <div class="hero py-5">

            <div class="container">
                
                <div class="row align-items-center imgText-container">
                    <div class="col hero-align-container">
                        <div class="hero-left-container">
                            <h1 class="mb-4">¿Qué necesitás?</h1>  
                               
                            <p> La canilla pierde agua ... <br>
                                Tu perro se rasca ...  <br>
                                 No tenes ganas de cocinar ... </p>
                            <p class="fst-italic fs-4">No desesperes!</p>
                            <p>Acá vas a encontrar información útil y contactos recomendados por tus vecinos que te pueden ayudar.</p>
                                      
                        </div>              
                    </div>
                    <div class="col text-center">                        
                        <img class="hero-image" src="img/hombre-preocupado.jpg" alt="Imágen hombre preocupado">
                        <img class="hero-image" src="img/mujer-preocupada.jpg" alt="Imágen mujer preocupada">
                    </div>
                
                </div>
            </div>
        </div>
</header>

<main class="bg-gray py-4">
    <div class="main-container">
    
        <div class="container">
            <div class="row">
              
              <h2 class="section-title text-center"> <img class="section-icon" src="/img/search2.png" alt="Icono Buscar">
                Fijate si encontrás lo que estás buscando ... 
              </h2>
                
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card my-3">
                        <div class="card-body card-style">
                            <img class="card-image" src="img/multiservicios.jpg" alt="Imágen Multiservicios"/>
                            <hr class="hr-line">
                            <h5 class="card-title card-title-style">Cuidado de tu casa</h5>
                            <p class="card-text section-text">
                                Pintores, albañiles, electricistas, plomeros, calderas, jardineros y más...</p>
                            <!-- <a href="#" class="card-link">Ver más</a>  -->
                            <a href="/mantenimiento" class="card-link">Ver más <i class="bi bi-arrow-right bi-arrow-style"></i></a>       
                            <!-- <a href="#" class="btn btn-outline-secondary card-btn-style">Ver más</a>                         -->
                        </div>
                    </div>    
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card my-3" >
                        <div class="card-body card-style">
                            <img class="card-image"  src="img/salud.jpg" alt="Imágen Salud"/>
                            <hr class="hr-line">
                            <h5 class="card-title card-title-style">Salud</h5>
                            <p class="card-text section-text">
                                Centros de salud, urgencias, médicos y pediatras, farmacias, psicologos, etc..</p>
                            <!-- <a href="#" class="btn btn-outline-secondary card-btn-style">Ver más</a>                         -->
                            <!-- <a href="#" class="card-link">Ver más</a> -->
                            <a href="/salud" class="card-link">Ver más <i class="bi bi-arrow-right bi-arrow-style"></i></a>    
                        </div>
                    </div>    
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card my-3" >
                        <div class="card-body card-style">
                            <img class="card-image"  src="img/mascotas.jpg" alt="Imágen Mascotas"/>
                            <hr class="hr-line">
                            <h5 class="card-title card-title-style">Mascotas</h5>
                            <p class="card-text section-text">
                                Veterinarios, alimentos, peluquerías, adiestramiento, lugares de guarda</p>                                
                            <!-- <a href="#" class="btn btn-outline-secondary card-btn-style">Ver más</a> -->
                            <!-- <a href="#" class="card-link">Ver más</a> -->
                            <a href="/mascotas" class="card-link">Ver más <i class="bi bi-arrow-right bi-arrow-style"></i></a>    
                        </div>
                    </div>    
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card my-3" >
                        <div class="card-body card-style">
                            <img class="card-image"  src="img/alimentos.jpg" alt="Imágen Alimentos"/>
                            <hr class="hr-line">
                            <h5 class="card-title card-title-style">Alimentos</h5>
                            <p class="card-text section-text">
                                Verdulerías, carnicerías, comidas caseras, sushi, vinos, picadas, delivery </p>                                                         
                            <!-- <a href="#" class="btn btn-outline-secondary card-btn-style">Ver más</a> -->
                            <!-- <a href="#" class="card-link">Ver más</a> -->
                            <a href="/comidas" class="card-link">Ver más <i class="bi bi-arrow-right bi-arrow-style"></i></a>    
                        </div>
                    </div>    
                </div>

            </div>
        </div>
    </div>
</main>


<section class="clasify my-5 py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center"> 
                <div class="image-container">
                    <img class="clasif-image pulse" src="img/clasificados.jpg" alt="Imágen Clasificados">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="clasif-info-container"> 
                    <h2 class="section-title">
                        ¡Y también podés vender y comprar!
                    </h2>
                    <p class="section-text">
                        Mostrá lo que querés vender y mirá lo que ofrecen tus vecinos.
                    </p>
                    <!-- <a href="#" class="btn btn-outline-secondary clasif-btn-style">Ver...</a>                 -->
                    <a href="/clasificados" class="card-link">Ver ... <i class="bi bi-arrow-right bi-arrow-style"></i></a>    
                </div>
            </div>
        </div>        
    </div>
</section>

<section class="bg-dark-gray my-5 py-5">
    <div class="container">
        <div class="row imgText-container">
            <div class="col-md-6 col-sm-12 d-flex align-items-center share-info-container">
                <p class="section-text">
                Si tenés información que te gustaría compartir o querés recomendar algún contacto nuevo, envianos un 
                <i class="bi bi-whatsapp">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                    <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                  </svg> -->
                </i> con el dato al grupo de vecinos. <br>                
                Esto ayuda a contar con una base de datos de proveedores y servicios para nuestra comunidad.
                </p>                 
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="image-container">
                    <img class="share-image" src="img/compartir.jpg" alt="Imágen Compartir info">
                </div>
            </div>
        </div>       
    </div>
</section>

<%- include('./partials/footer') %>

<!-- <footer class="bg-dark py-5">
    <div class="container">
        <div class="row text-light">
            
            <div class="col-md-8 col-sm-6">
                 
                <div class="row">                        
                    <h5 class="ftr-title-text mb-3"><i class="bi bi-telephone"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg></i> Contactos útiles</h5>
                    
                     <div class="col-md-4 col-sm-12 fw-light">
                        <p>Guardia<br> 03484-493918</p>
                    </div>
                    <div class="col-md-4 col-sm-12 fw-light">
                        <p>Administración<br> +54 9 2020 6021</p>
                    </div>        
                    <div class="col-md-4 col-sm-12 fw-light">
                        <p>House<br> +54 9 449 3945</p>
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-4 col-sm-6 text-center">
                 <img class="ftr-image" src="img/logo.jpg" alt="Barrio El Aromo">
                <p class="fst-italic mt-2">Su naturaleza lo ha hecho único</p>                 
            </div>

        </div>
    </div>
</footer> -->


</body>

</html>