<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/meta') %>    
    </head>    

<body>
    <%- include('../partials/navbar') %> 
    <h1> Hoja de Mantenimiento</h1>
    <%- include('../partials/footer') %>
</body>
</html>