<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/meta') %>    
    </head>    

<body>
    <%- include('../partials/navbar') %> 
    <h1> Hoja de salud</h1>
    <h2> Hoja de salud</h2>
    <h3> Hoja de salud</h3>
    <%- include('../partials/footer') %>
</body>
</html>